version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/cli"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gradle"
    directory: "/server"
    schedule:
      interval: "weekly"
  - package-ecosystem: "maven"
    directory: "/automation"
    schedule:
      interval: "weekly"