Source: greenplum-pxf-drivers
Section: database
Maintainer: <ostinru@yandex-team.ru>
Build-Depends: debhelper (>=9.0.0)

Package: greenplum-pxf-drivers
Architecture: any
Depends: openjdk-11-jdk,
  openjdk-11-jre
Description: Drivers for Greenplum PXF 6
