name: PXF CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_gpdb_debs:
    name: Build open-gpdb Debian Packages
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: # make targets
          - 'deb-gpdb-bionic'
          - 'deb-gpdb-jammy'
          - 'deb-cbdb-jammy'
    steps:
      - name: Get Date
        id: get-date
        run: echo "week=$(/bin/date -u '+%U')" >> "$GITHUB_OUTPUT"
      - name: database deb files caching
        id: cache-debs
        uses: actions/cache@v4
        with:
          path: ./downloads/*.deb
          # save per-os with 7 days TTL
          key: ${{ runner.os }}-${{ matrix.target }}-${{ steps.get-date.outputs.week }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build open-gpdb / cloudberry
        if: steps.cache-debs.outputs.cache-hit != 'true'
        run: make -C package ${{ matrix.target }}

  build_pxf_debs:
    name: Build PXF Debian Packages
    runs-on: ubuntu-latest
    needs: [build_gpdb_debs]
    strategy:
      fail-fast: false
      matrix:
        target: # make targets
          - pxf: 'deb-pxf6-gpdb-bionic'
            db-cache-key-sfx: 'deb-gpdb-bionic'
          - pxf: 'deb-pxf6-gpdb-jammy'
            db-cache-key-sfx: 'deb-gpdb-jammy'
          - pxf: 'deb-pxf6-cbdb-jammy'
            db-cache-key-sfx: 'deb-cbdb-jammy'
    steps:
      - name: Get Date
        id: get-date
        run: echo "week=$(/bin/date -u '+%U')" >> "$GITHUB_OUTPUT"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: (restore) database deb files caching
        id: cache-debs
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          path: ./downloads/*.deb
          key: ${{ runner.os }}-${{ matrix.target.db-cache-key-sfx }}-${{ steps.get-date.outputs.week }}

      - name: Build PXF6
        run: make -C package ${{ matrix.target.pxf }}

      - name: (save) PXF debs in cache
        uses: actions/cache/save@v4
        id: cache
        with:
            path: ./downloads/*pxf*.deb
            key: ${{ runner.os }}-${{ matrix.target.pxf }}-${{ github.sha }}

  use_pxf_debs:
    name: Use PXF Debian Packages
    runs-on: ubuntu-latest
    needs: [build_pxf_debs]
    strategy:
      fail-fast: false
      matrix:
        target:
          - pxf: 'deb-pxf6-gpdb-bionic'
            db-cache-key-sfx: 'deb-gpdb-bionic'
          - pxf: 'deb-pxf6-gpdb-jammy'
            db-cache-key-sfx: 'deb-gpdb-jammy'
          - pxf: 'deb-pxf6-cbdb-jammy'
            db-cache-key-sfx: 'deb-cbdb-jammy'
    steps:
      - name: Get Date
        id: get-date
        run: echo "week=$(/bin/date -u '+%U')" >> "$GITHUB_OUTPUT"

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: (restore) database deb files caching
        id: cache-debs-db
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          path: ./downloads/*.deb
          key: ${{ runner.os }}-${{ matrix.target.db-cache-key-sfx }}-${{ steps.get-date.outputs.week }}

      - name: (restore) PXF deb files caching
        id: cache-debs-pxf
        uses: actions/cache/restore@v4
        with:
          fail-on-cache-miss: true
          path: ./downloads/*pxf*.deb
          key: ${{ runner.os }}-${{ matrix.target.pxf }}-${{ github.sha }}

      - name: Use PXF builds
        run: ls -lah ./downloads/

      - name: Build automation images
        run: |
          echo "Building automation images..."
          cd automation
          make copy-debs
          docker compose build
          docker compose up

      - name: Save automation artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: automation-test-results-${{ matrix.target.pxf }}
          path: |
            /automation/automation_logs
            /automation/target/surefire-reports
          retention-days: 30

        # TODO: add /regression and /automation tests here
