name: Dependency Submission

on:
  push:
    branches: [ 'MDB_STABLE' ]

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
        with:
          build-root-directory: server
          artifact-retention-days: 5